<!--The content below is only a placeholder and can be replaced.-->
<div class="container center">
  <h1>Análise, Projeto e Avaliação Arquitetural</h1>
  <h2>Prova de Conceito Arquitetural</h2>
  <nav>
    <a routerLink="/classes" routerLinkActive="active">Turmas</a>
  </nav>
  <nav>
    <a routerLink="/students" routerLinkActive="active">Alunos</a> 
  </nav>
  <nav>
    <a routerLink="/registrations" routerLinkActive="active">Matrículas</a> | 
    <a routerLink="/registration-new" routerLinkActive="active">Fazer Matrícula</a> |
    <a routerLink="/registration-edit/1" routerLinkActive="active">Editar Matrícula</a>
  </nav>
  <nav>
    <a routerLink="/disciplines" routerLinkActive="active">Disciplinas</a> | 
    <a routerLink="/discipline-new" routerLinkActive="active">Adicionar Disciplina</a> |
    <a routerLink="/discipline-edit/1" routerLinkActive="active">Editar Disciplina</a>
  </nav>
  <router-outlet></router-outlet>
</div>


